[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.homolog-flag {
    display: none;
    z-index: 999999999;

    text-align : center;
    font-weight: bolder;

    padding: 9px 8px 0;

    width     : 100%;
    min-height: 30px;

    color      : #ffffff;
    text-shadow: 0 0 4px #2d2d2d;
    background : #fca311;
    box-shadow : 0 -3px 10px -5px #2d2d2d inset;

    box-sizing: border-box;

    &--visible {
        display: block;
    }

    &--top {
        top: 0;
        box-shadow: 0 5px 10px -5px #2d2d2d;
    }

    &--bottom {
        bottom: 0;
        box-shadow: 0 -5px 10px -5px #2d2d2d;
    }

    &--top,
    &--bottom {
        position: fixed;
        right   : 0;
        left    : 0;
    }

    a {
        color: inherit;
    }
}
