[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.homologFlag {
    background: #4798F5;
    display: none;
    text-align: center;
    color: #FFF;
    font-weight: bolder;
    text-shadow: 0 1px #000;
    padding: 8px;
    width: 100%;
    z-index: 999999999;

    &.visible {
        display: block;
    }

    &.bottom {
        position: fixed;
        bottom: 0px;
        left: 0px;
        width: 100%;
    }

    &.top {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
    }
    a {
        color: inherit;
    }
}
