*.sublime-workspace
dist
node_modules
.tmp
.buildignore
.htaccess
bower_components/angular
bower_components/angular-animate
bower_components/angular-moment
bower_components/moment
bower_components/momentjs
bower_components/angular-cookies
bower_components/angular-mocks
bower_components/angular-resource
bower_components/angular-route
bower_components/angular-sanitize
bower_components/angular-scenario
bower_components/angular-touch
bower_components/angular-ui-utils
bower_components/animate.css
bower_components/crypto-js
bower_components/es5-shim
bower_components/json3
bower_components/ng-json-explorer
bower_components/pagar-me
bower_components/venus
test
bower_components/angular-cookie
