<div layout-md="column" layout-gt-md="row" layout-align="center start" layout-fill>
    <md-card flex="40">
        <md-card-content>
            <md-tabs md-border-bottom md-dynamic-height>
                <md-tab>
                    <md-tab-label>
                    EVENT
                    </md-tab-label>
                    <md-tab-body>
                        <md-input-container>
                            <label>User token</label>
                            <input type="text" ng-model="user.token" disabled/>
                        </md-input-container>

                        <md-input-container>
                            <label>Event ID or Link</label>
                            <input type="text" ng-model="request.id" />
                        </md-input-container>

                        <md-input-container>
                            <label>Fields</label>
                            <input type="text" ng-model="request.fields"/>
                        </md-input-container>

                        <div class="md-actions" layout="row" layout-align="end center">
                            <md-button ng-click="getEvent()">Send</md-button>
                        </div>
                    </md-tab-body>
                </md-tab>
                <md-tab>
                    <md-tab-label>
                    Ticket Types
                    </md-tab-label>
                    <md-tab-body>
                        <md-input-container>
                            <label>User token</label>
                            <input type="text" ng-model="user.token" disabled/>
                        </md-input-container>

                        <md-input-container>
                            <label>Event ID or Link</label>
                            <input type="text" ng-model="request.id" />
                        </md-input-container>

                        <md-checkbox ng-model="request.pos">POS</md-checkbox>

                        <div class="md-actions" layout="row" layout-align="end center">
                            <md-button ng-click="getEventTicketTypes()">Send</md-button>
                        </div>
                    </md-tab-body>
                </md-tab>
                <md-tab>
                    <md-tab-label>
                    Guest List
                    </md-tab-label>
                    <md-tab-body>
                        <md-input-container>
                            <label>User token</label>
                            <input type="text" ng-model="user.token" disabled/>
                        </md-input-container>

                        <md-input-container>
                            <label>Event ID or Link</label>
                            <input type="text" ng-model="request.id" />
                        </md-input-container>

                        <md-input-container>
                            <label>Fields</label>
                            <input type="text" ng-model="request.fields"/>
                        </md-input-container>

                        <md-input-container>
                            <label>Page</label>
                            <input type="text" ng-model="request.page"/>
                        </md-input-container>

                        <md-input-container>
                            <label>Page Size</label>
                            <input type="text" ng-model="request.pageSize"/>
                        </md-input-container>

                        <md-input-container>
                            <md-select placeholder="Status" ng-model="request.filters.status">
                                <md-option value="all">all</md-option>
                                <md-option value="checked">checked</md-option>
                                <md-option value="unchecked">unchecked</md-option>
                            </md-select>
                        </md-input-container>

                        <md-input-container>
                            <label>Term</label>
                            <input type="text" ng-model="request.filters.term"/>
                        </md-input-container>

                        <md-input-container>
                            <md-select placeholder="Channel" ng-model="request.filters.channel">
                                <md-option value="online">online</md-option>
                                <md-option value="offline">offline</md-option>
                            </md-select>
                        </md-input-container>

                        <md-input-container>
                            <label>Ticket Type ID</label>
                            <input type="text" ng-model="request.filters.tickettypeid"/>
                        </md-input-container>

                        <md-input-container>
                            <label>Session ID</label>
                            <input type="text" ng-model="request.filters.sessionid"/>
                        </md-input-container>

                        <md-input-container>
                            <label>From</label>
                            <input type="date" ng-model="request.filters.from"/>
                        </md-input-container>

                        <div class="md-actions" layout="row" layout-align="end center">
                            <md-button ng-click="getGuestList()">Send</md-button>
                        </div>
                    </md-tab-body>
                </md-tab>
                <md-tab>
                    <md-tab-label>
                    Crew
                    </md-tab-label>
                    <md-tab-body>
                        <md-input-container>
                            <label>User token</label>
                            <input type="text" ng-model="user.token" disabled/>
                        </md-input-container>

                        <md-input-container>
                            <label>Event ID or Link</label>
                            <input type="text" ng-model="request.id" />
                        </md-input-container>

                        <md-input-container>
                            <label>Fields</label>
                            <input type="text" ng-model="request.fields"/>
                        </md-input-container>

                        <div class="md-actions" layout="row" layout-align="end center">
                            <md-button ng-click="getEventCrew()">Send</md-button>
                        </div>
                    </md-tab-body>
                </md-tab>
            </md-tabs>
        </md-card-content>
    </md-card>

    <md-card flex>
        <md-card-content>
            <md-tabs md-border-bottom md-selected="selectedIndex" md-dynamic-height>
                <md-tab>
                    <md-tab-label>
                    Result
                    </md-tab-label>
                    <md-tab-body>
                        <md-list>
                            <md-list-item class="md-2-line" ng-show="calls[0].url">
                                <div class="md-list-item-text">
                                    <h3>{{calls[0].stopTime | momentum:'HH:mm:ss'}} - {{calls[0].requestTime}}s</h3>
                                    <p>{{calls[0].domain}}</p>
                                    <p ng-repeat="param in calls[0].parameters">{{param}}</p>
                                </div>
                            </md-list-item>
                        </md-list>
                        <json-explorer class="result" json-data="{{result}}" collapsed="false"></json-explorer>
                    </md-tab-body>
                </md-tab>
                <md-tab>
                    <md-tab-label>
                    History
                    </md-tab-label>
                    <md-tab-body>
                        <md-list>
                            <md-list-item class="md-2-line" ng-repeat="call in calls">
                                <div class="md-list-item-text">
                                    <h3>{{calls[0].stopTime | momentum:'HH:mm:ss'}} - {{calls[0].requestTime}}s</h3>
                                    <p>{{calls[0].domain}}</p>
                                    <p ng-repeat="param in calls[0].parameters">{{param}}</p>
                                </div>
                            </md-list-item>
                        </md-list>
                    </md-tab-body>
                </md-tab>
            </md-tabs>
            <md-progress-linear md-mode="indeterminate" ng-show="isLoading"></md-progress-linear>
        </md-card-content>
    </md-card>
</div>
