<h2 class="venus">Event</h2>
<form  class="venus" novalidate name="eventForm" ng-submit="getEvent(eventForm)">
    <label>User token</label>
    <input type="text" ng-model="user.token" disabled/>

    <label>Event ID or Link</label>
    <input type="text" ng-model="eventForm.id" />

    <label>Fields</label>
    <input type="text" ng-model="eventForm.fields"/>

    <label>User token</label>
    <input type="text" ng-model="user.token" disabled/>

    <button class="venus button" type="submit" ng-disabled="!eventForm.$valid">Enviar</button>
</form>

<form  class="venus" novalidate name="eventListForm" ng-submit="getEventList(eventListForm)">

    <label>Latitude</label>
    <input type="text" ng-model="eventListForm.filters.lat"/>

    <label>Longitude</label>
    <input type="text" ng-model="eventListForm.filters.long"/>

    <label>A partir da data</label>
    <input type="date" ng-model="eventListForm.filters.from"/>

    <label>Até a data</label>
    <input type="date" ng-model="eventListForm.filters.to"/>

    <label>Estado</label>
    <input type="text" ng-model="eventListForm.filters.state"/>

    <label>Contendo</label>
    <input type="text" ng-model="eventListForm.filters.term"/>

    <label>Fields</label>
    <input type="text" ng-model="eventListForm.fields"/>

    <label>Page</label>
    <input type="number" ng-model="eventListForm.page"/>

    <label>Page Size</label>
    <input type="number" ng-model="eventListForm.pageSize"/>

    <button class="venus button" type="submit">Enviar</button>
</form>

<form  class="venus" novalidate name="guestListForm" ng-show="selectedMethod === 'guestList'" ng-submit="getGuestList()">
    <label>User token</label>
    <input type="text" ng-model="user.token" required disabled/>

    <label>Event ID</label>
    <input type="number" ng-model="guestListForm.eventId" required/>

    <label>Fields</label>
    <input type="text" ng-model="guestListForm.fields"/>

    <label>Nome, email ou código do ingresso</label>
    <input type="text" ng-model="guestListForm.filters.term"/>

    <label>Status</label>
    <select ng-model='guestListForm.filters.status'>
        <option value="all" selected>all</option>
        <option value="checked">checked</option>
        <option value="unchecked">unchecked</option>
    </select>

    <label>Channel</label>
    <select ng-model='guestListForm.filters.channel'>
        <option value="" selected>all</option>
        <option value="online">online</option>
        <option value="offline">offline</option>
    </select>

    <label>Ticket Type ID</label>
    <input type="number" ng-model="guestListForm.filters.tickettypeid"/>

    <label>Session ID</label>
    <input type="number" ng-model="guestListForm.filters.sessionid"/>

    <label>From</label>
    <input type="number" ng-model="guestListForm.filters.from"/>

    <label>Page</label>
    <input type="number" ng-model="guestListForm.page"/>

    <label>Page Size</label>
    <input type="number" ng-model="guestListForm.pageSize"/>

    <button class="venus button" type="submit" ng-disabled="!guestListForm.$valid">Enviar</button>
</form>

<form  class="venus" novalidate name="eventTicketsForm" ng-submit="getEventTickets(eventTicketsForm)">
    <label>User token</label>
    <input type="text" ng-model="user.token" disabled/>

    <label>Event ID</label>
    <input type="number" ng-model="eventTicketsForm.id" required/>

    <br>
    <input type="checkbox" ng-model="eventTicketsForm.pos" />
    <label>POS</label>
    <br>

    <button class="venus button" type="submit" ng-disabled="!eventTicketsForm.$valid">Enviar</button>
</form>


<div class="venus row" style="margin-top:40px;">
    <div class="venus eight centered">
        <form class="venus" style="margin-bottom:5px;" ng-submit="makeCall()">
            <input id="check1" type="checkbox" name="check" value="check1" ng-model="collapsed">
            <label for="check1">Collapse Results</label>
        </form>
        <div ingresse-user user="responseUser" request-token="user.token"></div>
        <div class="httpcalls" ng-hide="httpCalls.length == 0">
            <a href="" ng-click="clearHttpHistory()" class="venus clear">Limpar</a>
            <div class="calls">
                <p class="call" ng-repeat="call in httpCalls" ng-show="call.requestTime">
                    {{call.url}} - {{call.requestTime}}s
                    <span class="time" style="width: {{call.requestTime * 10}}%"></span>
                </p>
            </div>
        </div>
        <json-explorer class="result" json-data="{{result}}" collapsed="{{collapsed}}"></json-explorer>
    </div>
</div>
