<form  class="venus" novalidate name="freepassForm" ng-show="selectedMethod === 'freepass'" ng-submit="freepass(freepassForm)">
    <label>User token</label>
    <input type="text" ng-model="user.token" required disabled/>

    <label>Event ID</label>
    <input type="number" ng-model="freepassForm.eventId" required/>

    <label>Ticket Type ID</label>
    <input type="number" ng-model="freepassForm.ticketTypeId" required/>

    <label>Lista de emails</label>
    <textarea ng-model="freepassForm.emails" title="Separar e-mails por virgula" required></textarea>

    <input type="checkbox" ng-model="freepassForm.isHalfPrice"/>
    <label>Meia Entrada</label>

    <input type="checkbox" ng-model="freepassForm.validate" title="Marque se quiser apenas validar se é possível enviar a lista de cortesias." />
    <label>Validação</label>

    <button class="venus button" type="submit" ng-disabled="!freepassForm.$valid">Enviar</button>
</form>
