<form  class="venus" novalidate name="salesForm" ng-show="selectedMethod === 'sales'" ng-submit="getSales(salesForm)">
    <label>User token</label>
    <input type="text" ng-model="user.token" required disabled/>

    <label>Event ID</label>
    <input type="number" ng-model="salesForm.filters.event" />

    <label>Nome, E-mail ou Transaction ID</label>
    <input type="text" ng-model="salesForm.filters.term" />

    <label>Forma de pagamento</label>
    <select ng-model="salesForm.filters.paymentoption">
        <option value="tbd">tbd</option>
        <option value="CartaoCredito">CartaoCredito</option>
        <option value="creditcard">creditcard</option>
        <option value="debitcard">debitcard</option>
        <option value="DebitoBancario">DebitoBancario</option>
        <option value="BoletoBancario">BoletoBancario</option>
        <option value="money">money</option>
        <option value="free">free</option>
        <option value="others">others</option>
    </select>

    <!-- <label>APP ID (channel)</label>
    <input type="text" ng-model="salesForm.filters.channel" /> -->

    <!-- <label>Session ID</label>
    <input type="text" ng-model="salesForm.filters.session" title="Lista de IDs de sessão" /> -->

    <!-- <label>A partir de</label>
    <input type="date" ng-model="salesForm.from"/>

    <label>Até</label>
    <input type="date" ng-model="salesForm.to"/> -->

    <label>Status</label>
    <select ng-model="salesForm.filters.status">
        <option value="approved">Aprovado</option>
        <option value="declined">Negado</option>
        <option value="pending">Pendente</option>
    </select>


    <label>Página</label>
    <input type="number" ng-model="salesForm.page" />

    <hr>
    <button class="venus button" type="submit" ng-disabled="!salesForm.$valid">Enviar</button>
</form>
